@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
main{
	float: right;
	font-size:14px;
    padding-top: 50px;
    padding-right: 1000px;
    padding-bottom: 100%;
    padding-left: 80px;
	
	background-color: #f3f5f7;
}
aside{    
	float: left;
	padding-bottom: 100%;
	background-color: #ff7739;
}