@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
	font: 14px "Open Sans", Arial, sans-serif;  "Comfortaa", sans-serif;
	background: #f3f5f7;
}
aside{
	float: left;
	display: block;
	background-color: #fff;
	height: 800px;
	width:350px;
}
aside h1{
	font-size: 40px;
	text-align: center;
	background: #fff;
}
div{
	padding: auto;
	margin: auto;
	text-align: left;
	background-color: #f3f5f7;
}
button{
	float: right;
	margin: 50px;
}
img{
	margin: 5px;
}
aside img{
	width: 150px;
	height: 150px;
	margin-left: 100px;
	border-radius: 50%;
}
aside p{
    font-family: 'Open Sans' , Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: #B0BFC6;
	background: #fff;
}
nav ul li , a{
	list-style-type: none;
	color: #B0BFC6;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
	background:#fff;
}
ul{
	background:#fff;
}
li:hover{
	color: black;
}
main div h1{
	font-size: 40px;
}
span{
	font-size: 40px;
	color: #95A6B0;
}
main div h3{
	font-size: 20px;
	text-transform: capitalize;
    font-weight: 600;
}
main div p{
	text-transform: uppercase;
}
.add{
	float:right;
	margin-right: 15px;
	margin-top: 20px;
}
.firstThree{
	display: inline-block;
	margin: 10px 10px;
}
.firstTwoBox{
	margin-top: -299px;
    margin-bottom: 100px;
    margin-right: 189px;
    margin-left: 316px;
}
.firstThreeBox{
	margin-top: -397px;
    margin-bottom: 100px;
    margin-right: 189px;
    margin-left: 633px;
}
.secondOneBox{
    margin-top: 60px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 350px;
}
.secondTwoBox{
	margin-top: -384px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 668px;
}
.secondThreeBox{
    margin-top: -397px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 985px;
}
.rented{
	background-color: #B7C4CD;
	width: 100px;
	position: relative;
	margin-left: -20px;
	border-radius: 20px;
	color:#fff;
	padding: 7px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 70px;
}
.listed{
	background-color: #68BA69;
	color: #fff;
	text-align: center;
	width: 100px;
	position: relative;
	margin-left: 5px;
	border-radius: 20px;
	text-transform: uppercase;
	padding: 7px;
	margin-bottom: 6px;
}
.draft{
	background-color: #95A6B0;
	width: 100px;
	border-radius: 20px;
	padding: 7px;
	text-align: center;
	color: #fff;
}
.add{
	border: solid;
	background-color:#FF7739;
	color:#fff;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 25px;
}
.add:hover{
	color: #FF7739;
	cursor: pointer;
	background-color: #fff;
}
button i{
	padding: 5px;
	background-color:#FF7739;
	color: #fff;
}
button i:hover{
	background-color:#fff;
}
