@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
aside{
	float: left;
	display: block;
}
div{
	padding: auto;
	margin: auto;
	text-align: center;
}
button{
	float: right;
}