@media all and (min-width: 780px) and (max-width: 960px) {
  body #wrapper{
    width: calc(100% - 55px);
  }
  body #wrapper aside > div{
    margin-bottom: 230px;
  }
  .news{
    margin-top: -208px;
  }
  body #wrapper > footer{
    margin-top: -20px;
  }
}
@media all and (min-width: 640px) and (max-width: 780px) {
  body #wrapper{
    width: 100%;
  }
  body #wrapper > header h1 a span{
    margin-left: 0;
  }
  body #wrapper > header nav{
  }
  body #wrapper > header nav ul{
    display: inline-block;
  }
  body #wrapper > header nav ul li{
    width: 135px;
  }
  body #wrapper > header h1{
    font-size: 35px;
  }
  body #wrapper > aside{
    display: block;
  }
}
@media all and (min-width: 480px) and (max-width: 640px) {
  body #wrapper{
    width: 100%;
    display: flex;
  }
  body #wrapper > header nav ul{
    display: flex;
    flex-direction: column;
  }
  body #wrapper > header nav ul li{
    width: 100%;
    margin: 0 0;
  }
  body #wrapper > header h1{
    text-align: center;
  }
  body #wrapper > header h1 a span{
    width: 100%;
    margin-left: 0;
  }
  body #wrapper > header h1 a img{
    margin: 0 auto;
    height: 50px;
    width: 50%;
  }
  body #wrapper > section{
    width: 100%;
  }
  body #wrapper > aside{
<<<<<<< HEAD
    width: 98%;
=======
    width: 100%;
>>>>>>> <= 480, 7/4/2017/11:56PM
    order: 5;
    display: flex;
    flex-direction: row;
    flex-flow: row;
  }
}
<<<<<<< HEAD
=======
@media all and (max-width: 480px) {
  body #wrapper{
    width: 100%;
    display: flex;
  }
  body #wrapper > header nav ul{
    display: flex;
    flex-direction: column;
  }
  body #wrapper > header nav ul li{
    width: 100%;
    margin: 0 0;
  }
  body #wrapper > header h1{
    text-align: center;
  }
  body #wrapper > header h1 a span{
    width: 100%;
    margin-left: 0;
  }
  body #wrapper > header h1 a img{
    margin: 0 auto;
    height: 50px;
    width: 50%;
  }
  body #wrapper > section{
    width: 100%;
  }
  body #wrapper > aside{
    width: 100%;
    order: 5;
    display: flex;
  }
}
>>>>>>> <= 480, 7/4/2017/11:56PM
