main{
    margin: 55px auto;
    height: 800px;
    width: 800px;
    border:2px solid black;
}

h1{
    width:270px;
    height: 30px;
    margin-top:-20px;
    margin-left:5px;
    background: white;
}
